
.Rhistory
.RData
.Rproj.user/


*.Rproj


.vscode/


.DS_Store
Thumbs.db


renv/library/
renv/python/


*.log
.Rout*
Rplots.pdf


data/processed/

*.sqlite


results/


*.png
*.pdf

report/*.html
report/*.pdf

data/phishing_email.csv
